.toolbar {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgb(0, 162, 255);
  width: 100%;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.toolbar--box-shadow {
  background-color: rgba(0, 162, 255, 0.85);
  box-shadow: 0 10px 30px -10px rgba(0, 162, 255, 0.85);
}

.toolbar--hidden {
  transform: translateY(-100%);
  box-shadow: 0 10px 30px -10px rgba(0, 162, 255, 0.85);
}

.toolbar__desktop-navigation {
  display: none;
}

@media (min-width: 576px) {
  .toolbar {
    padding: 0rem 1rem;
  }
  .toolbar__desktop-navigation {
    display: unset;
  }
}
