.toolbar{
    background-color: rgba(0, 162, 255, 0.774);
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.toolbar__desktop-navigation{
    display: none;
}

@media(min-width: 576px){
    .toolbar__desktop-navigation{
        display: unset;
    }
}