.pagination{
    width: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.pagination__input{
    width: 20%;
    text-align: center;
    -moz-appearance: textfield;
}

.pagination__input:active,
.pagination__input:focus{
  border: 1px solid rgb(0, 162, 255);
  outline: none;
}

.pagination__input::-webkit-outer-spin-button,
.pagination__input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}