.container {
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

.container:disabled,
.container[disabled] {
  filter: grayscale(1);
  cursor: unset;
}

.arrow {
  fill: rgb(0, 162, 255);
}

.arrow--left {
  transform: rotate(180deg);
}
