.mobile-navigation {
  width: 80vw;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  background-color: #fff;
  z-index: 200;
  display: flex;
  align-items: center;
}

.mobile-navigation--open {
  animation: Open 0.5s ease-out forwards;
}

.mobile-navigation--closed {
  animation: Closed 0.5s ease-out forwards;
}

@keyframes Open {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes Closed {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateX(100%);
  }
}
