.navigation-item a {
  text-decoration: none;
  color: inherit;
  font-weight: 700;
  border: 1px solid transparent;
  display: inline-flex;
  align-items: center;
}

.navigation-item a:hover,
.navigation-item a:active {
  border: 1px solid #000;
  border-radius: 4px;
}

@media(min-width: 576px) {
  .navigation-item{
    margin-left: 2rem;
  }

  .navigation-item a{
    padding: 0.2rem 0;
    border: unset;
    border-radius: 0;
    border-bottom: 5px solid transparent;
  }

  .navigation-item a:hover,
  .navigation-item a:active {
    border: unset;
    border-radius: 0;
    border-bottom: 5px solid #fff;
    color: #fff;
  }
}