.navigation-item a{
    text-decoration: none;
    color: inherit;
    font-weight: 700;
}

.navigation-item a:hover,
.navigation-item a:active{
    text-decoration: none;
    color: #fff;
    border-bottom: 5px solid #fff;
}