.list__item{
    margin: 1rem 0;
}

.book__title{
    font-style: italic;
}

.book__subjects::before{
    content: attr(aria-label);
    font-size: 1rem;
    font-weight: 700;
    margin-left: -1rem;
}

.book__subjects{
    text-align: left;
}

.book__subject{
    line-height: 1.5;
}

.button{
    background-color: transparent;
    border: 1px solid rgba(0, 162, 255, 0.774);
    border-radius: 4px;
    color: rgba(0, 162, 255, 0.774);
    cursor: pointer;
    font: inherit;
    padding: 0.5rem 1.5rem;
}

.button:hover{
    background-color: rgba(0, 162, 255, 0.774);
    color: #fff;
}