.form__select {
  font: inherit;
  font-weight: 400;
  border-radius: 4px;
  border: 1px solid #ccc;
  margin-top: 0.5rem;
  cursor: pointer;
}

.form__select:active,
.form__select:focus {
  border: 1px solid rgb(0, 162, 255);
  outline: none;
}
