.table-pagination{
    width: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.table-pagination__input{
    width: 20%;
    -moz-appearance: textfield;
}

.table-pagination__input::-webkit-outer-spin-button,
.table-pagination__input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}