.navigation-items{
    height: 20%;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    
}

@media(min-width: 576px){
    .navigation-items{
        flex-wrap: nowrap;
        flex-direction: row;
    }
}
