.toggle-bar{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.actions{
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.actions__button{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid rgb(128, 128, 128);
  box-shadow: 0 2px 8px rgb(0 0 0 / 20%);
  padding: 0.25rem 0.5rem;
}

.actions__button--animated{
  margin-right: 0.25rem;
}

.toggle-bar__text{
  line-height: 1.5;
}

.form {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: 0.5rem auto;
}

.form__label {
  align-self: flex-start;
  font-weight: 700;
}

.form__label{
  margin-bottom: 0.5rem;
}

.range-container {
  display: flex;
}

.form__button {
  background-color: transparent;
  border: 1px solid rgb(0, 162, 255);
  border-radius: 4px;
  color: rgb(0, 162, 255);
  cursor: pointer;
  font: inherit;
  padding: 0.5rem 1.5rem;
  margin: 2rem auto;
}

.form__button:hover {
  background-color: rgb(0, 162, 255);
  color: #fff;
}
