.toggle-bar{
  width: 100%;
  /* margin: 0.5rem auto; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.toggle-bar__toggle{
  align-self: flex-end;
  margin: 0.5rem 0.5rem 0;
}

.toggle-bar__text{
  line-height: 1.5;
}

.form {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: 0.5rem auto;
}

.form__label {
  align-self: flex-start;
  font-weight: 700;
}

.form__input,
.form__select {
  font: inherit;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.form__input:active,
.form__input:focus,
.form__select:active,
.form__select:focus {
  border: 1px solid rgb(0, 162, 255);
  outline: none;
}

.form__label,
.form__input {
  margin-bottom: 0.5rem;
}

.range-container {
  display: flex;
}

.range-container__input {
  width: 20%;
}

.form__button {
  background-color: transparent;
  border: 1px solid rgb(0, 162, 255);
  border-radius: 4px;
  color: rgb(0, 162, 255);
  cursor: pointer;
  font: inherit;
  padding: 0.5rem 1.5rem;
  margin: 2rem auto;
}

.form__button:hover {
  background-color: rgb(0, 162, 255);
  color: #fff;
}
