.form__input {
  font: inherit;
  border-radius: 4px;
  border: 1px solid #ccc;
  margin-top: 0.5rem;
}

.form__input:active,
.form__input:focus {
  border: 1px solid rgb(0, 162, 255);
  outline: none;
}

.range-container__input {
  width: 20%;
}
