.container{
    width: 100%;
}

.backdrop{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
    transform: translateX(100%);
    opacity: 0;
    transition: transform .3s linear, opacity .5s ease-out;
}

.active{
    transform: translateX(0);
    opacity: 1;
}