.anchor{
    position: fixed;
    bottom: 2rem;
    right: 0.5rem;
    background-color: rgba(204, 32, 98, 0.9);
    border: 1px solid rgb(204, 32, 98);
    border-radius: 50%;
    padding: 1rem;
    color: #fff;
    transition: background-color .2s ease-out, color .2s ease-out, border .2s ease-out;
}

.anchor:hover,
.anchor:active{
    background-color: #fff;
    color:rgb(0, 162, 255);
    border: 1px solid rgb(0, 162, 255);
}